@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');


.test{
    display: flex;
    align-items: center;
    gap: 5px;
}

.idk > span:first-child {
    font-weight: bold;
  }

  .idk > span:nth-child(2) {
    margin-left: 2px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
  }

  body{
    background: linear-gradient(30deg,white, #fef9f7 , #f3d6e7, #c6c6ed, #f3d6e7);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  nav{
    display: flex;
    align-items: center;
  }
  
  nav a{
    text-decoration: none;
    color: black;
  }

  nav h3{
    margin-left: 15px;
    font-size: 25px;
    
  }

  nav a:nth-child(1){
    display: flex;
    align-items: center;
  }
  
  .nav-buttons{
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 25px;
  }

  .nav-buttons > button:nth-child(1){
    background-color: white;
    color: rgb(77, 76, 76);
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
  }

  .nav-buttons > button:nth-child(2){
    background-color: #121417;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
  }
  .nav-links{
    margin-left: 30px;
    display: flex;
    gap: 10px;
  }


  .main-heading {
    display: flex;
    position: relative;
    padding-left: 35px;
  }

  
  .main-heading img {
    height: 100%;
    max-height: 740px;
    flex: 1;
    object-fit: cover;
  }
  
  .main-heading h2 {
    font-size: 70px;
    line-height: 85px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
  }

  .main-heading p {
    font-size: 20px;
    line-height: 32px;
    padding-right: 96px;
    height: 128px;
    font-family: 'Inter', sans-serif;
  }
  
  .content{
    flex: 1;
    width: 50%;
  }
  .image-container{
    flex: 1;
    width: 50%;
    overflow: hidden;
    
  }
  .main-button-containor{
    display: flex;
    gap: 10px;
  }
  .main-button-containor > button:nth-child(1){
      background-color: #121417;
      color: white;
      border-radius: 7px;
      font-size: 1rem;
      height: 44px;
      padding: 0 0.25rem 0 1rem; 
      font-weight: 600;
      border: none;
      display: flex;
      align-items: center;
  }
  .main-button-containor > button:nth-child(2){
    background-color: white;
    color: black;
    border-radius: 7px;
    font-size: 1rem;
    height: 44px;
    padding: 0 0.25rem 0 1rem; 
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
}
  
.trust-containor{
  display: flex;
}
.video{
  border-radius: 15px;
  width: 100%;
  height: 495px;
  max-width: 880px;
  background-image: url("https://cdn.sellix.io/static/landing/new/yt-preview.svg");
}

.video-containor{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 495px;
  
}

